#game {
    display: flex;
    margin: auto;
    width: 800px;
    height: calc(100vh - 2em);
    min-width: 800px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#game {
    border-radius: 5px;
}

#game > div {
    display: flex;
    margin: 0.5em;
}

#words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 6em;
    line-height: 1.2em;
    overflow-y: hidden;
    font-size: xx-large;
    column-gap: 0.5em;
}

.settings {
    display: flexbox;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--black);
    border: solid 1px var(--bright-black);
    width: 100%;
    align-self: flex-start;
}

.settings * {
    background: transparent;
    font-size: medium;
}

.settings > #progress {
    align-self: center;
}

#gamemode {
    border-right: 1px solid var(--bright-black);
    border-radius: 0;
    padding-right: 1em;
}

#count {
    border-left: 1px solid var(--bright-black);
    border-radius: 0;
    padding-left: 1em;
}

.wrap {
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

#word-input {
    margin: auto;
    padding: 0.5em 1em;
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--black);
    border: solid 1px var(--bright-black);
    border-radius: 5px;
    font-size: large;
}

.word-active {
    background-color: var(--faint-blue);
    color: var(--blue);
    border-radius: 5px;
}

.word-correct {
    color: var(--green);
}

.word-incorrect {
    color: var(--red);
}

.word-inactive {
    color: var(--bright-white);
}

.hidden {
    display: none !important;
}

.hidden * {
    display: none !important;
}

#reset-btn:active,
#reset-btn:focus,
#reset-btn:hover {
    background-color: var(--bright-black);
}

#stats {
    display: block;
    margin: auto;
    width: 100%;
    font-size: xx-large;
    height: 100%;
}

#stats > h1 {
    font-size: xx-large;
    padding-bottom: 0.5em;
    text-align: center;
    font-weight: 300;
}

#stats > p {
    margin: 0.5em 0;
    font-size: xx-large;
    text-align: center;
}

.label {
    margin: 0;
    font-weight: 500;
    font-size: x-large;
    color: var(--grey);
    border-radius: 0;
    border-left: 2px solid var(--bright-black);
    padding-left: 0.8em;
}

h1 > .label {
    border: none;
    padding: 0;
    font-size: x-large;
}

@media only screen and (max-width: 799px) {
    #game {
        width: 100%;
        min-width: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 90vh;
    }

    .settings {
        position: fixed;
        top: 0;
        width: calc(100% - 3.8em);
    }

    #words {
        max-height: calc(4em * 1.2);
    }

    .settings > *,
    #count,
    #progress,
    #gamemode,
    #gamemode > *,
    #word-limit > *,
    #time-limit > * {
        border: none;
        font-size: large;
    }

    .button {
        padding: 0.25em 0.5em;
    }

    .active {
        background-color: var(--faint-blue);
    }

    footer {
        font-size: large;
        position: fixed;
        bottom: 0;
        margin-bottom: 0.5em;
        width: calc(100% - 2.4em);
    }

    footer > p {
        border-radius: 5px;
        padding: 0.5em;
    }

    #reset-btn {
        margin: 0;
        padding: 0.5em 1em;
        border: 1px solid var(--bright-black);
        border-radius: 5px;
        font-size: x-large;
        background-color: var(--black);
        outline: none;
    }

    .hide-on-mobile {
        display: none;
    }
}
