#game {
    display: flex;
    margin: auto;
    width: 800px;
    height: calc(100vh - 2em);
    min-width: 800px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#game,
#game * {
    border-radius: 5px;
}

#game > div {
    display: flex;
    margin: 0.5em;
}

#words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 6em;
    line-height: 1.2em;
    overflow-y: hidden;
    font-size: xx-large;
    column-gap: 0.5em;
}

.settings {
    display: flexbox;
    justify-content: space-between;
    padding: 10px;
    font-size: small;
    border-radius: 0;
    background-color: var(--black);
    border: solid 1px var(--bright-black);
    width: 100%;
    align-self: flex-start;
}

.settings * {
    background: transparent;
    font-weight: 500;
}

.settings > #progress {
    align-self: center;
    font-size: medium;
}

#gamemode {
    border-right: 1px solid var(--bright-black);
    border-radius: 0;
    padding-right: 1em;
}

#count {
    border-left: 1px solid var(--bright-black);
    border-radius: 0;
    padding-left: 1em;
}

.wrap {
    flex-wrap: wrap;
    gap: 1em;
}

#word-input {
    margin: auto;
    font-size: larger;
    padding: 0.5em 1em;
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--black);
    border: solid 1px var(--bright-black);
}

#word-input input {
    font-size: large;
    width: 100%;
}

.word-active {
    background-color: var(--faint-blue);
    color: var(--blue);
}

.word-correct {
    color: var(--green);
}

.word-incorrect {
    color: var(--red);
}

.word-inactive {
    color: var(--bright-white);
}

.hidden {
    display: none;
}
