#game {
    display: block;
    margin: auto;
    width: 90%;
}

#game,
#game * {
    border-radius: 5px;
}

#game > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
}

#words {
    display: flex;
    flex-direction: column;
    height: 6em;
    line-height: 1.2em;
    overflow-y: hidden;
    font-size: x-large;
}

.settings {
    display: flexbox;
    justify-content: space-between;
    padding: 10px;
    font-size: small;
    background: var(--faint-black);
    border-radius: 0;
}

.settings * {
    background: transparent;
    color: var(--bright-white);
    font-weight: 500;
}

#gamemode {
    border-right: 1px solid var(--bright-black);
    border-radius: 0;
    padding-right: 1em;
}

#count {
    border-left: 1px solid var(--bright-black);
    border-radius: 0;
    padding-left: 1em;
}

.actions {
}
