@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");

:root {
    --bg: #161616;
    --fg: #ffffff;
    --black: #222222;
    --red: #e84f4f;
    --green: #b7ce42;
    --yellow: #fea63c;
    --blue: #66aabb;
    --magenta: #b7416e;
    --cyan: #6d878d;
    --white: #dddddd;
    --bright-black: #666666;
    --bright-red: #d23d3d;
    --bright-green: #bde077;
    --bright-yellow: #ffe863;
    --bright-blue: #aaccbb;
    --bright-magenta: #e16a98;
    --bright-cyan: #42717b;
    --bright-white: #cccccc;
    --faint-black: #2222225e;
    --faint-red: #e84f4f5e;
    --faint-green: #b7ce425e;
    --faint-yellow: #fea63c5e;
    --faint-blue: #66aabb5e;
    --faint-magenta: #b7416e5e;
    --faint-cyan: #6d878d5e;
    --faint-white: #dddddd5e;
}

* {
    font-family: "Fira Mono", monospace;
    background: var(--bg);
    color: var(--fg);
    user-select: none;
}

.border {
    border: solid 1px;
}

button {
    background-color: transparent;
    border: none;
    padding: 0.3em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
    transition: background-color 0.1s;
}

button:hover,
.active {
    background-color: var(--faint-blue);
    color: var(--blue);
}

input {
    font: inherit;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
}

::selection {
    background: var(--faint-blue);
    color: var(--blue);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
