@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");

:root {
    --bg: #000000;
    --fg: #ffffff;
    --black: #151515;
    --red: #ff8eaf;
    --green: #a6e25f;
    --yellow: #f8e578;
    --blue: #a6e2f0;
    --magenta: #e85b92;
    --cyan: #5f868f;
    --white: #d5f1f2;
    --bright-black: #696969;
    --bright-red: #ed4c7a;
    --bright-green: #a6e179;
    --bright-yellow: #ffdf6b;
    --bright-blue: #79d2ff;
    --bright-magenta: #bb5d79;
    --bright-cyan: #87a8af;
    --bright-white: #e2f1f6;

    --faint-black: #1515155e;
    --faint-red: #ff8eb05e;
    --faint-green: #a6e25f5e;
    --faint-yellow: #f8e5785e;
    --faint-blue: #a6e2f05e;
    --faint-magenta: #e85b925e;
    --faint-cyan: #5f868f5e;
    --faint-white: #d5f1f25e;
}

* {
    font-family: "Fira Mono", monospace;
    background: var(--bg);
    color: var(--fg);
    user-select: none;
}

.border {
    border: solid 1px;
}

button {
    background-color: transparent;
    border: none;
    padding: 0.3em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
    transition: background-color 0.1s;
}

button:hover,
.active {
    background-color: var(--faint-blue);
    color: var(--blue);
}
