@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");

:root {
    --bg: #111114;
    --fg: #e5e9f5;
    --black: #15151a;
    --red: #ff9f95;
    --green: #e2ffc7;
    --yellow: #ffffb9;
    --blue: #a8ceea;
    --magenta: #e2b5cc;
    --cyan: #c2efff;
    --white: #dddddd;
    --grey: #5e5e6e;
    --bright-black: #1e1e25;
    --bright-red: #ff8d80;
    --bright-green: #dbffb3;
    --bright-yellow: #ffbe64;
    --bright-blue: #7eb6ff;
    --bright-magenta: #e296ff;
    --bright-cyan: #9ce9ff;
    --bright-white: #cccccc;
    --faint-black: #1211155e;
    --faint-red: #ff9f955e;
    --faint-green: #e2ffc75e;
    --faint-yellow: #ffffb95e;
    --faint-blue: #a8ceea5e;
    --faint-magenta: #e2b5cc5e;
    --faint-cyan: #c2efff5e;
    --faint-white: #dddddd5e;
}

* {
    font-family: "Fira Mono", monospace;
    background: var(--bg);
    color: var(--fg);
    user-select: none;
    -webkit-user-select: none;
}

.border {
    border: solid 1px;
}

button {
    background-color: transparent;
    border: none;
    padding: 0.3em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
    transition: background-color 0.1s;
}

button:hover,
.active,
.highlight {
    background-color: var(--faint-blue);
    color: var(--blue);
}

input {
    font: inherit;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
}

::selection {
    background: var(--faint-blue);
    color: var(--blue);
}

.shadow {
    box-shadow: 0 0 1px 0 var(--bright-black);
}

footer {
    align-self: flex-end;
    text-align: center;
}

.highlight {
    padding: 0.3em;
}

.link {
    color: var(--grey);
    cursor: pointer;
    font-size: medium;
}
